<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiangjiang.ironOldMan.mapper.UserMapper">
    <insert id="insert" parameterType="com.qiangjiang.ironOldMan.model.User">
        insert into tbl_user (id,username,password,token) value (#{id},#{userName},#{passWord},#{token})
    </insert>
</mapper>